/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html {
  @apply bg-primary w-screen h-screen;
  overflow: hidden;
}

.bg-darken {
  background-color: #222426;
}

.source-item .source-codes {
  @apply pl-4 relative;
}

.source-item-active {
  @apply bg-blue-800 text-gray-300;
}

.source-item .source-codes:before {
  content: "";
  @apply absolute top-0 bottom-0 border-l border-dotted border-stone-500;
}

.inp {
  @apply block w-full rounded-md outline-none shadow-sm sm:text-sm bg-primary;
  @apply text-gray-200;
  @apply px-2 py-0.5;
}

#titlebar {
  @apply flex items-center justify-between text-gray-300 pl-2;
  background: #1c1c1c;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.titlebar-actions {
  @apply flex items-center;
}

.titlebar-icon {
  @apply py-0.5 cursor-pointer;
  width: 30px;
  text-align: center;
  cursor: pointer;
}

.titlebar-icon:hover {
  background-color: #383838;
}

#ttb-close:hover {
  @apply bg-red-500 text-gray-100;
}

/* Tool Bar */
#toolbar {
  position: fixed;
  top: 20px;
  left: 0;
  right: 0;
}



.project-explorer {
  @apply text-left uppercase text-gray-200 text-sm py-1 px-2 bg-slate-500;
  width: fit-content;
  border-radius: 4px
}
.project-explorer:hover {
  @apply bg-slate-600;
}

.code-structure {
  @apply px-2;
  height: calc(40vh - 56px - 48px);
}

/* Styles for scrollbar */

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track  {
  background: #222426;
}
::-webkit-scrollbar-corner  {
  background: #222426;
}

::-webkit-scrollbar-thumb {
  /* background: #465056; */
  background: #81898e;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

span svg {
  display: inline-block;
}

#editor {
  display: grid;
  grid-template-columns: 220px auto 460px;

  position: absolute;
  top: 52px;

  height: calc(100vh - 52px);
}

/* Fixes weird scrolling issues in CodeMirror (https://stackoverflow.com/questions/72768501/why-codemirror-editor-does-not-scroll-horizontally-with-long-line) */
.root-wrapper {
  display: flex;
  flex-direction: row;
}
.cm-editor {
  width: 0;
  max-height: calc(-84px + 100vh);
  flex-grow: 1;
}

.code-contents {
  height: calc(75vh - 56px - 36px);
}

#memory-grid {
  /* wtf */
  /* make sure the grid does not cross the bottom of the window, otherwise page glitches up */
  height: calc(100vh - 56px - 44px - 16px - 4px); 
}
#memory-grid > div {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  background-color: #81898e;
}
#memory-grid span{
  border: white 1px solid;
  padding: 5px;
  text-align: center;
}
#memory-grid div:first-of-type {
  position: sticky;
  top: 0;
}
#memory-grid div:first-of-type, #memory-grid span:last-child {
  background-color: #697073;
}



#CPU {
  border-top: #505558 solid 2px;
  height: 60vh;
  padding-bottom: 0;
}
#CPU>div>div {
  display: grid;
  grid-template-columns: 40px 1fr;
  background-color: #81898e;
  text-align: center;
}
#CPU div>span:first-of-type {
  background-color: #697073;
}
#CPU div>span {
  border: 1px solid white;
}

#terminal {
  height: 25vh;
}
#terminal-output{
  border: 2px solid gray;
  height: calc(100% - 40px);
}

#terminal-input{
  height: 40px;
  background: gray;
}

#terminal-input span {
  font-weight: 600;
}